.my-container {
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    gap: 20px;
}

.hud-nav {
  position: fixed;
  top: 3;
  width: 30%;
  background: rgba(255, 255, 255, 0.552);
  border-bottom: 1px solid #000000;
  display: flex;
  padding: 25px;
  font-family: 'Courier New', monospace;
}

.cart-hud {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgb(71, 66, 66);
  border: 2px solid #000000;
  padding: 10px;
  display: flex;
  color: #a3a3a3;
  font-family: 'Courier New', monospace;
  font-size: 25px;
}

.cart-count {
  background: #939290;
  color: black;
  padding: 2px 8px;
  margin-left: 5px;
}

body::before {
  content: '';
  background-image: url(https://cdn.pixabay.com/photo/2017/02/16/16/56/natural-2071844_1280.jpg);
  background-size: cover;
  filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hud-nav {
  display: flex;
  justify-content: space-around;
}

.page-boxes {
  display: flex;
  gap: 30px;
}

.info-box {
  border: 2px solid #333;
  padding: 50px;
  text-decoration: none;
  color: rgb(188, 186, 186);
  background-color: rgba(0,0,0,0.7);
  transition:  0.3s;
}

.page-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
}



.page-boxes {
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 8px;
}

h3 {
  text-align: center;
}

.info-box:hover {
  transform: scale(1.05);
}

.info-box {
  text-align: center;
}

.info-box img {
  display: block;
  margin: 0 auto;
}

.info-box img {
  transition: transform 1s;
}

.info-box:hover {
  transform: scale(2.05);
}
