.info-box {
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff1f1;
    border: 2px solid #000000;
    text-align: center;
}

body::before {
  content: '';
  background-image: url(https://cdn.pixabay.com/photo/2017/02/16/16/56/natural-2071844_1280.jpg);
  background-size: cover;
  filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}